.gradle
/local.properties
/keystore.properties

# User-specific configurations
.idea
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
/.idea
*.iml

# Comment next line if keeping position of elements in Navigation Editor is relevant for you
.idea/navEditor.xml

.DS_Store
**/build/
/captures
.externalNativeBuild
.cxx
/buildSrc/.gradle/
/buildSrc/build/
/debug_keystore.properties
/data_compose/src/main/res/raw/dev_google_console_service_account_api_key.json
/data_compose/src/main/res/raw/google_console_service_account_api_key.json
/app_compose/src/dev/google-services.json
/app_compose/src/prod/google-services.json
tv/app/src/dev/google-services.json
tv/app/src/prod/google-services.json